<div class="container">
  <div class="legenda">
    <h2> Legenda:</h2>
    <mat-icon>check_circle</mat-icon> <p> - miejsce wybrane</p>
    <mat-icon>lock</mat-icon> <p> - miejsce zajęte</p>
    <mat-icon>stop</mat-icon> <p> - miejsce wolne</p>
  </div>

    <div class="title">
      <h3 class="eventTitle">{{eevent.description}}</h3>
    </div>
  <main class="innerContainer">
    <div class="sala">
    <button (click)="showHall()" >Podgląd sali</button>
    <div id="hallSeats" style="display:none;">
      <div class="scene">
        Scena
      </div>
      <div *ngFor="let row of rows">
        <span *ngFor="let col of cols">
          <mat-icon class="seat" (click)="checkIfReserved((row*10 + col).toString())"
                    [ngSwitch]="getStatus((row*10 + col).toString())">
            <mat-icon *ngSwitchCase="'selected'">check_circle</mat-icon>
            <mat-icon *ngSwitchCase="'reserved'">lock</mat-icon>
            <mat-icon *ngSwitchDefault>stop</mat-icon>
          </mat-icon>

        </span>
      </div>


    <div *ngIf="selected.length > 0" class="font14 marginTB10">
      <div class="wordWrap">Zarezerwowane : {{selected.length}}  <span class="count">{{selected}}</span></div>
      <div>Cena: {{eevent.ticketPrice}} * {{selected.length}} = {{eevent.ticketPrice*selected.length}} </div>
    </div>

    <div class="buttonBar marginTop5">
      <button (click)="clearSelected()" [disabled]="selected.length === 0" class="btn btn-default btn-sm">Wyczyść</button>
      <button (click)="onSubmit()" [disabled]="selected.length === 0" class="btn btn-success btn-sm">Kup bilet</button>
    </div>
    </div>
    </div>
  </main>
</div>
