<div class="panel panel-primary" >
  <div class="panel-heading">
    <h2>Moje bilety</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Event Id</th>
        <th>Wybrane miejsce</th>
        <th>Data zakupu</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of tickets | async">
        <td>{{ticket.eventId}}</td>
        <td>{{ticket.seatInARow}}</td>
        <td>{{ticket.buyDate}}</td>
        <button  (click)="generatePdf(ticket.ticketId)" >Pdf</button>
      </tr>

      </tbody>
    </table>
  </div>
</div>


