<div class="container">
  <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPassword">Wpisz tutaj swoje hasło aktualne: </label>
      <input formControlName="oldPassword" id="oldPassword">
    </div>

    <div class="form-group">
      <label for="newPassword">Wpisz tutaj nowe hasło: </label>
      <input formControlName="newPassword" id="newPassword">
    </div>

    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div>
